<div class="col-md-12">
    <div class="row">
        <div class="row">
            {{#each this}}
            <div class="col-md-4 box1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 well">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{Brand}} {{Model}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="{{Image}}" class="img-responsive img-thumbnail">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-danger"><span class="small">Rent 30$/day</span></button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-info"><span class="small">Details</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>брой места: {{Seats}}</p>
                                <p>гориво: {{Fuel}} </p>
                                <p>скорости: {{gear}}</p>
                                <p>разход: {{fuelConsumption}}</p>
                                <p>екстри: {{extras}}</p>
                                <p>застраховки: {{insurance}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <ul id="page-navigator" class="pagination">
        </ul>
    </div>

