<div class="col-md-12">
    <div class="row">
        <div class="row">
            {{#each this}}
            <div class="col-md-4 box1">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 well">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{Brand}} {{Model}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="{{Image}}" class="img-responsive img-thumbnail">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-danger"><span class="small">Rent {{PricePerDay}}$/day</span></button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-info"><span class="small">Details</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>Year: {{Year}}</p>
                                <p>Seats: {{Seats}}</p>
                                <p>Fuel: {{Fuel}} </p>
                                <p>Gears: {{#if Extras.Automatic}}Automatic{{else}}Manual{{/if}}</p>
                                <p>Fuel consumation: {{Extras.FuelConsumation}}</p>
                                <p>Insuarance: {{#if Extras.Insuarance}}Yes{{else}}No{{/if}}</p>
                                <div class="car-details hidden">
                                    <p>Air condition: {{#if Extras.Clima}}Yes{{else}}No{{/if}}</p>
                                    <p>GPS: {{#if Extras.Gps}}Yes{{else}}No{{/if}}</p>
                                    <p>Leather: {{#if Extras.Leather}}Yes{{else}}No{{/if}}</p>
                                    <p>4x4: {{#if Extras.Quatro}}Yes{{else}}No{{/if}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <ul id="page-navigator" class="pagination">
        </ul>
    </div>

