<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>PickUp Place</th>
                    <th>Delivery Place</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>User</th>
                    <th>Car</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
                <tr>
                    <td>{{PickUpPlace}}</td>
                    <td>{{DeliveryPlace}}</td>
                    <td>{{StartDate}}</td>
                    <td>{{EndDate}}</td>
                    <td>{{UserDetails.Firstname}} {{UserDetails.Lastname}}</td>
                    <td>{{CarDetails.Brand}} {{CarDetails.Model}}</td>
                    <td>{{State}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>